* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.titulo {
    height: 100px;
    background-color: black;
}

.titulo h2 {
    margin: 0;
    padding: 0;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}